{% extends "base.html" %}

{% block content %}

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header text-center fw-bold">Poza de Profil</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="rounded-circle account-img" src="{{ image_file }}" alt="Profile Image">
                
                    <div>
                        <h3>Level: {{ current_user.level }}</h3>
                            <div class="progress">
                                <div id="experienceProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" 
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">0%</div>
                            </div>
                            <h5>{{current_user.experience}} experienta</h5>
                    </div>
                
                    <!---->
                    <form method="POST" enctype="multipart/form-data" action="">
                        {{ form.hidden_tag() }}
    
                        <div class="form-group mb-3">
                            <!-- Making "Schimba avatarul" blue and bold -->
                            {{ form.picture.label(class="form-label fw-bold text-primary") }}
                            {{ form.picture(class="form-control") }}
                        </div>
    
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header text-center fw-bold">Detalii cont</div>
                <div class="card-body">
                    <div>




                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1">Username (how your name will appear to other users on the site)</label>
                            <div class="form-control form-control-plaintext border rounded px-2">{{ current_user.username }}</div>
                        </div> 

                        <!--mail-->
                        
                        <div class="mb-3">
                            <label class="small mb-1">Mail</label>
                            <div class="form-control form-control-plaintext border rounded px-2">{{ current_user.email }}</div>
                        </div> 

                        <!--data alaturarii-->

                        <div class="mb-3">
                            <label class="small mb-1">Data alaturarii</label>
                            <div class="form-control form-control-plaintext border rounded px-2">{{ current_user.date_joined.strftime('%d-%m-%Y') }}</div>
                        </div> 

                        <!--rasounsiri corecte-->

                        <div class="mb-3">
                            <label class="small mb-1">Raspunsuri corecte</label>
                            <div class="form-control form-control-plaintext border rounded px-2">{{ current_user.correct_answers }}</div>
                        </div> 

                        <!--serie zilnica-->

                        <div class="mb-3">
                            <label class="small mb-1">Serie zilnica</label>
                            <div class="form-control form-control-plaintext border rounded px-2">{{ current_user.streak }}</div>
                        </div> 

                        <!--Rol-->

                        <div class="mb-3">
                            <label class="small mb-1">Rol</label>
                            <div class="form-control form-control-plaintext border rounded px-2">{{ current_user.user_role }}</div>
                        </div> 

                        <!--Badges-->

                        <div class="mb-3">
                            <label class="small mb-1">Badge-uri (Insigne)</label>
                            <div class="form-control form-control-plaintext border rounded px-2">
                                <span>
                                    {% for badge in current_user.badges %}
                                        <p> {{ badge.name }} 
                                        <img class="rounded-circle badge-img" 
                                        src="{{image_file}}"> </p>
                                    {% endfor %}
                                </span>
                            </div>
                        </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let currentExperience = current_user.experience; // Current experience

    const maxExperience = 100; // Maximum experience for the level


    function updateProgress() 
    {
        fetch('/profile')

            .then(response => response.json())

            .then(data => {

                const experience = data.experience;
                
                const maxExperience = 50;

                const percentage = 25;


                // Update the progress bar

                const progressBar = document.getElementById('experienceProgress');

                progressBar.style.width = percentage + '%';
                progressBar.setAttribute('aria-valuenow', percentage);
                progressBar.innerText = Math.round(percentage) + '%';

                console.log(experience)
                if (experience >= maxExperience) {

                    alert("Congratulations! You've reached the maximum experience level!");

                }

            });
    }

    document.addEventListener("DOMContentLoaded", function() {

        updateExperience(); // Automatically updates progress on page load

    });

</script>

{% endblock %}
